<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="!product.id">Agregar producto</span>
          <span class="headline" v-if="product.id">Editar producto</span>
        </v-card-title>
        <v-card-text>
          <v-layout column>
            <v-layout row justify-center>
              <v-text-field
                v-model="currentProduct.name"
                label="Nombre"
              ></v-text-field>
              <v-text-field
                v-model="currentProduct.contains"
                label="Contiene"
              ></v-text-field>
            </v-layout>
            <v-layout row justify-center>
              <v-text-field
                v-model="currentProduct.barcode"
                label="Código de barras"
              ></v-text-field>
              <v-text-field
                v-model="currentProduct.quantum_satis"
                label="Cantidad recomendada"
              ></v-text-field>
            </v-layout>
            <v-layout column>
              <v-textarea
                v-model="currentProduct.description"
                label="Descripción"
              ></v-textarea>
              <v-textarea
                v-model="currentProduct.formula"
                label="Fórmula"
              ></v-textarea>
            </v-layout>
            <v-layout row>
              <v-select
                v-model="currentProduct.category_id"
                :items="categories.models"
                item-text="name"
                item-value="id"
                label="Seleccione una categoría:"
                solo
                outline
                no-data-text="No hay categorías disponibles"
              ></v-select>
              <v-select
                v-model="currentProduct.via_id"
                :items="vias.models"
                item-text="name"
                item-value="id"
                label="Seleccione una vía de administración:"
                solo
                outline
                no-data-text="No hay vías de administración disponibles"
              ></v-select>
            </v-layout>
            <v-layout>
              <v-select
                v-model="currentProduct.country_id"
                :items="countries.models"
                item-text="name"
                item-value="id"
                label="Seleccione un país fabricante:"
                solo
                outline
                no-data-text="No hay países fabricantes disponibles"
              ></v-select>
            </v-layout>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closed">Cancelar</v-btn>
          <v-btn color="blue darken-1" flat @click="saveProduct">Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>
import Categories from "../../../models/Categories/Categories";
import Vias from "../../../models/Vias/Vias";
import Countries from "../../../models/Countries/Countries";
import ErrorSnackBar from "../../../components/ErrorSnackBar.vue";
import Product from "../../../models/Products/Product";

export default {
  name: "AddProduct",
  components: { ErrorSnackBar },
  props: {
    dialog: Boolean,
    product: Product
  },
  data() {
    return {
      categories: new Categories(),
      vias: new Vias(),
      countries: new Countries(),
      errorMessage: "",
      errorShow: false
    };
  },
  created() {
    this.init();
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentProduct: {
      get() {
        if (this.product.id) {
          return this.product;
        } else {
          return new Product();
        }
      }
    }
  },
  methods: {
    init() {
      this.categories.fetch();
      this.vias.fetch();
      this.countries.fetch();
      this.errorMessage = "No se pudo realizar la petición.";
    },
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    },
    saveProduct: function() {
      var promise;
      var self = this;
      promise = this.currentProduct.save();
      promise
        .then(function() {
          self.show = false;
          self.$emit("onSuccess");
        })
        .catch(function() {
          self.errorShow = true;
        });
    }
  }
};
</script>

<style scoped></style>
