<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <label>Listado de productos</label>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :objects="products"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
    ></TableModel>
    <AddProduct
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :product="product"
    ></AddProduct>
  </div>
</template>

<script>
import Products from "../../../models/Products/Products";
import TableModel from "../../../components/TableModel";
import CustomToolbar from "../../../components/CustomToolbar.vue";
import AddProduct from "./AddProduct";
import Product from "../../../models/Products/Product";

export default {
  name: "ProductsMain",
  components: { AddProduct, TableModel, CustomToolbar },
  data() {
    return {
      products: new Products(),
      title: "",
      open: false,
      product: new Product()
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.products.fetch();
      this.title = "Productos";
    },
    openDialog() {
      this.product = new Product();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.products.fetch();
    },
    onEdit(object) {
      this.product = object;
      this.open = true;
    },
    onShowDetail(object) {
      this.product = object;
      let routeData = this.$router.resolve({name:'product_detail',params: {id:this.product.id}});
      window.open(routeData.href,'_blank');
    },
    onDeleteSuccess() {
      this.products.fetch();
    }
  }
};
</script>

<style scoped></style>
