<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <label>Listado de países fabricantes</label>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :objects="countries"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
    ></TableModel>
    <CreateUpdateCountry
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :country="country"
    ></CreateUpdateCountry>
    <ShowDetailCountry
      @onCloseDetails="onCloseDetails"
      :dialog="openDetails"
      :country="country"
    >
    </ShowDetailCountry>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import Countries from "../../../models/Countries/Countries";
import CreateUpdateCountry from "./CreateUpdateCountry";
import Country from "../../../models/Countries/Country";
import ShowDetailCountry from "./ShowDetailCountry";
import CustomToolbar from "../../../components/CustomToolbar";
export default {
  name: "CountriesMain",
  components: { CustomToolbar, ShowDetailCountry, CreateUpdateCountry, TableModel },
  data() {
    return {
      countries: new Countries(),
      open: false,
      country: new Country(),
      openDetails: false,
      title: ""
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.countries.fetch();
      this.title = "Países fabricantes";
    },
    openDialog() {
      this.country = new Country();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.countries.fetch();
    },
    onEdit(object) {
      this.country = object;
      this.open = true;
    },
    onShowDetail(object) {
      this.country = object;
      this.openDetails = true;
    },
    onCloseDetails() {
      this.openDetails = false;
    },
    onDeleteSuccess() {
      this.countries.fetch();
    }
  }
};
</script>

<style scoped></style>
