<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"
            >Detalles del país fabricante</span
          >
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="currentCountry.name"
            label="Nombre"
            disabled
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closed">Regresar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import Country from "../../../models/Countries/Country";
import ErrorSnackBar from "../../../components/ErrorSnackBar";

export default {
  name: "ShowDetailCountry",
  props: {
    dialog: Boolean,
    country: Country
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false
    };
  },
  created() {
    this.errorMessage = "No se pudo realizar la petición.";
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentCountry: {
      get() {
        if (this.country.id) {
          return this.country;
        } else {
          return new Country();
        }
      }
    }
  },
  methods: {
    closed: function() {
      this.show = false;
      this.$emit("onCloseDetails");
    }
  }
};
</script>

<style scoped></style>
