<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <label>Listado de categorías</label>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :objects="categories"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
    ></TableModel>
    <CreateUpdateCategory
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :category="category"
    ></CreateUpdateCategory>
    <ShowDetailCategory
            @onCloseDetails="onCloseDetails"
            :dialog="openDetails"
            :category="category"
    >
    </ShowDetailCategory>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import Categories from "../../../models/Categories/Categories";
import CreateUpdateCategory from "./CreateUpdateCategory";
import Category from "../../../models/Categories/Category";
import ShowDetailCategory from "./ShowDetailCategory.vue"
import CustomToolbar from "../../../components/CustomToolbar";
export default {
  name: "CategoriesMain",
  components: { CustomToolbar, CreateUpdateCategory, TableModel, ShowDetailCategory },
  data() {
    return {
      categories: new Categories(),
      category: new Category(),
      open: false,
      openDetails: false,
      title: ""
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.categories.fetch();
      this.title = "Categorías";
    },
    openDialog() {
      this.category = new Category();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.init();
    },
    onEdit(object){
      this.category = object;
      this.open = true;
    },
    onDeleteSuccess() {
      this.init();
    },
    onCloseDetails() {
      this.openDetails = false;
    },
    onShowDetail(object) {
      this.category = object;
      this.openDetails = true;
    },
  }
};
</script>

<style scoped></style>
