<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="!category.id"
            >Agregar categoría de producto</span
          >
          <span class="headline" v-if="category.id"
            >Editar categoría de product</span
          >
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="currentCategory.name" label="Nombre"></v-text-field>
          <v-text-field
            v-model="currentCategory.description"
            label="Descripción"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closed">Cancelar</v-btn>
          <v-btn color="blue darken-1" flat @click="saveCategory">Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>

import ErrorSnackBar from "../../../components/ErrorSnackBar";
import Category from "../../../models/Categories/Category";
import Via from "../../../models/Vias/Via";

export default {
  name: "CreateUpdateCategory",
  components: { ErrorSnackBar },
  props: {
    dialog: Boolean,
    category: Category
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false
    };
  },
  created() {
    this.errorMessage = "No se pudo realizar la petición.";
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentCategory: {
      get() {
        if (this.category.id) {
          return this.category;
        } else {
          return new Category();
        }
      }
    }
  },
  methods: {
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    },
    saveCategory: function() {
      var promise;
      var self = this;
      promise = this.currentCategory.save();
      promise
        .then(function() {
          self.show = false;
          self.$emit("onSuccess");
        })
        .catch(function() {
          self.errorShow = true;
        });
    }
  }
};
</script>

<style scoped></style>
