<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"
            >Detalles de la categoría</span
          >
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="currentCategory.name" label="Nombre" disabled></v-text-field>
          <v-text-field
            v-model="currentCategory.description"
            label="Descripción"
            disabled
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closed">Regresar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>

import Category from "../../../models/Categories/Category";

export default {
  name: "ShowDetailCategory",
  props: {
    dialog: Boolean,
    category: Category
  },
  data() {
    return {
    };
  },

  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentCategory: {
      get() {
        if (this.category.id) {
          return this.category;
        } else {
          return new Category();
        }
      }
    }
  },
  methods: {
    closed: function() {
      this.show = false;
      this.$emit("onCloseDetails");
    },
  }
};
</script>

<style scoped></style>
