<template>
  <v-container fluid>
    <div>
      <carousel :autoplay="true" :navigationEnabled="true" :perPageCustom="[[480, 2], [768, 3]]" style="max-height: 500px">
        <slide>
          <img src="../assets/est1.jpg" style="height: 500px">
        </slide>
        <slide>
          <img src="../assets/logo.jpg" style="height: 500px">
        </slide>
        <slide>
          <img src="../assets/est2.jpg" style="height: 500px">
        </slide>
      </carousel>
    </div>
    <Products></Products>
  </v-container>
</template>H

<script>
import { Carousel, Slide } from "vue-carousel";
import Products from "./shop/Products";
export default {
  name: "Inicio",
  components: {Products, Carousel, Slide }
};
</script>

<style scoped></style>
