<template>
  <v-card tile class="product">
    <v-card-title
      ><h2>{{ product.name }}</h2>
      <v-spacer></v-spacer>
      <v-btn icon class="hidden-xs-only" color="success" dark>
        <v-icon>shopping_cart</v-icon>
      </v-btn>
    </v-card-title>
    <v-layout row align-center justify-center fill-height>
      <v-card-media>
        <img :alt="product.name" src="../../assets/logo.jpg" style="max-height: 200px" />
      </v-card-media>
      <v-card-text>
        <p>{{ product.description }}</p>
        <label><b>Fórmula</b></label>
        <p>{{ product.formula }}</p>
      </v-card-text>
    </v-layout>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        icon
        class="hidden-xs-only"
        color="info"
        dark
        @click.prevent="openDetails"
      >
        <v-icon>remove_red_eye</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Product from "../../models/Products/Product";

export default {
  name: "Product",
  props: {
    product: Product
  },
  methods: {
    openDetails() {
      this.$router.push({
        name: "product_detail",
        params: { id: this.product.id }
      });
    }
  }
};
</script>

<style scoped>
.product {
  min-height: 50px;
  min-width: 80px;
  margin: 10px;
}
</style>
