<template>
  <v-container fluid>
    <v-card>
      <v-toolbar color="accent" dark>
        <v-toolbar-title
          ><h2>Nombre: {{ product.name }}</h2></v-toolbar-title
        >
      </v-toolbar>
      <v-layout row>
        <vue-qr
          :size="400"
          :dotScale="0.6"
          :text="qr"
          :correctLevel="2"
          :bgSrc="src"
        ></vue-qr>
        <v-card-text>
          <v-layout column>
            <v-flex >
              <span class="font">Descripción: {{product.description}}</span>
            </v-flex>
            <v-flex >
              <span class="font">Cada frasco contiene: {{ product.contains }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Código de barras: {{ product.barcode }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Fórmula: {{ product.formula }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Cantidad recomendad: {{ product.quantum_satis }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Categoría: {{ category.name }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Vía de administración: {{ via.name }}</span>
            </v-flex>
            <v-flex  v-if="product.country_id">
              <span class="font">País de fabricación: {{ country.name }}</span>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-layout>
    </v-card>
  </v-container>
</template>

<script>
import Product from "../../models/Products/Product";
import Country from "../../models/Countries/Country";
import Category from "../../models/Categories/Category";
import Via from "../../models/Vias/Via";
import VueQr from "vue-qr";
export default {
  name: "ProductDetails",
  components: { VueQr },
  data() {
    return {
      product: new Product(),
      qr: "",
      country: new Country(),
      category: new Category(),
      via: new Via(),
      src: require("../../assets/logo.png")
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      var self = this;
      this.qr =
        process.env.VUE_APP_BASE_URL + this.$router.currentRoute.fullPath;
      this.product.id = this.$route.params.id;
      this.product.fetch().then(function() {
        self.category.id = self.product.category_id;
        self.category.fetch();

        self.via.id = self.product.via_id;
        self.via.fetch();

        if (self.product.country_id) {
          self.country.id = self.product.country_id;
          self.country.fetch();
        }
      });
    }
  }
};
</script>

<style scoped>
.font {
  font-family: Roboto,serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: normal !important;
  font-size: 36px !important;
  color: #666666 !important;
}
</style>
