<template>
  <v-container fluid>
    <v-layout row wrap justify-space-around>
      <v-flex v-for="product in products.models" :key="product.id" xs6>
        <Product :product="product"></Product>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Products from "../../models/Products/Products";
import Product from "./Product";

export default {
  name: "Products",
  components: { Product },
  data() {
    return {
      products: new Products()
    };
  },
  created() {
    this.products.fetch();
  }
};
</script>

<style scoped></style>
