<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Eliminar registro</span>
        </v-card-title>
        <v-card-text>
          <label>{{ message }}</label>
          <v-layout row v-if="this.currentRegister">
            <v-layout column>
              <label>Id</label>
              <label>{{ currentRegister.id }}</label>
            </v-layout>
            <v-layout column>
              <label>Nombre</label>
              <label>{{ currentRegister.name }}</label>
            </v-layout>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.prevent="closed"
            >Cancelar</v-btn
          >
          <v-btn color="blue darken-1" flat @click.prevent="deleteRegister"
            >Aceptar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>
import ErrorSnackBar from "./ErrorSnackBar";
import BaseModel from "../models/BaseModel";
export default {
  name: "DeleteRegister",
  components: {
    ErrorSnackBar
  },
  props: {
    dialog: Boolean,
    register: BaseModel
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentRegister: {
      get() {
        return this.register;
      },
      set(val) {
        return this.register;
      }
    }
  },
  data() {
    return {
      message: "",
      errorMessage: "",
      errorShow: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.message = "¿Seguro desea eliminar este registro?";
      this.errorMessage = "No se pudo eliminar el regisitro";
    },
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    },
    deleteRegister() {
      var self = this;
      this.currentRegister
        .delete()
        .then(function() {
          self.$emit("onDeleteSuccess");
          self.show = false;
        })
        .catch(function() {
          self.errorShow = true;
        });
    }
  }
};
</script>

<style scoped></style>
