<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-toolbar color="primary" extended>
    <v-layout row>
      <v-flex xs2>
        <v-list-tile-avatar><img src="../assets/logo.jpg"/></v-list-tile-avatar>
      </v-flex>
      <v-flex xs8>
        <v-text-field
          append-outer-icon="search"
          hide-details
          single-line
          solo
          placeholder="Buscar productos..."
          color="black"
          clearable
        ></v-text-field>
      </v-flex>
    </v-layout>
    <template slot="extension">
      <v-layout row>
        <v-select
          v-model="category"
          :items="categories.models"
          item-text="name"
          item-value="id"
          label="Seleccione una categoría:"
          no-data-text="No hay categorías disponibles"
        ></v-select>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat to="/">Inicio</v-btn>
          <v-btn flat to="/products">Productos</v-btn>
          <v-btn flat>Contacto</v-btn>
        </v-toolbar-items>
      </v-layout>
    </template>
  </v-toolbar>
</template>

<script>
import Category from "../models/Categories/Category";
import Categories from "../models/Categories/Categories";

export default {
  name: "HomeToolbar",
  props: {
    target: String
  },
  data() {
    return {
      category: new Category(),
      categories: new Categories()
    };
  },
  mounted() {
    this.categories.fetch();
  }
};
</script>

<style scoped></style>
