<template>
  <v-container fluid>
    <v-flex lg12 row class="body1">
      <v-layout column>
        <v-flex>
          <v-card class="rounded-card">
            <v-data-table
              :headers="headers"
              :items="objects.models"
              :pagination.sync="pagination"
              item-key="name"
            >
              <template slot="headers" slot-scope="props">
                <tr>
                  <th v-for="header in props.headers" :key="header.text">
                    {{ header.text }}
                  </th>
                </tr>
              </template>
              <template slot="items" slot-scope="props">
                <tr>
                  <td>{{ props.item.id }}</td>
                  <td>{{ props.item.name }}</td>
                  <td>
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        class="hidden-xs-only"
                        color="info"
                        dark
                        @click.prevent="onShowDetail(props.item)"
                      >
                        <v-icon>remove_red_eye</v-icon>
                      </v-btn>
                      <span>Ver detalles</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        class="hidden-xs-only"
                        color="success"
                        dark
                        @click.prevent="openEditDialog(props.item)"
                      >
                        <v-icon>edit</v-icon>
                      </v-btn>
                      <span>Editar</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        class="hidden-xs-only"
                        color="error"
                        dark
                        @click.prevent="deleteRegister(props.item)"
                      >
                        <v-icon>delete</v-icon>
                      </v-btn>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </td>
                </tr>
              </template>
              <template slot="no-data">
                <v-alert :value="true" color="error" icon="warning">
                  Lo siento, no encontré datos para mostrar :(
                </v-alert>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <DeleteRegister
      :register="registerToDelete"
      :dialog="showDeleteModal"
      @onClose="onCloseDeleteRegister"
      @onDeleteSuccess="onDeleteSuccess"
    ></DeleteRegister>
  </v-container>
</template>

<script>
import BaseCollection from "../models/BaseCollection";
import DeleteRegister from "./DeleteRegister";
export default {
  name: "TableModel",
  components: { DeleteRegister },
  props: {
    objects: BaseCollection
  },
  data() {
    return {
      pagination: {
        sortBy: "id"
      },
      headers: [
        { text: "Id", value: "productId", align: "center" },
        { text: "Nombre", value: "productName", align: "center" },
        { text: "Acciones", value: "productsActions", align: "center" }
      ],
      open: false,
      showDeleteModal: false,
      registerToDelete: null
    };
  },
  methods: {
    openEditDialog(object) {
      this.$emit("onEdit", object);
    },
    deleteRegister(object) {
      this.showDeleteModal = true;
      this.registerToDelete = object;
    },
    onShowDetail(object) {
      this.$emit("onShowDetails", object);
    },
    onCloseDeleteRegister() {
      this.showDeleteModal = false;
    },
    onDeleteSuccess() {
      this.showDeleteModal = false;
      this.$emit("onDeleteSuccess");
    }
  }
};
</script>

<style scoped>
.rounded-card {
  border-radius: 8px;
  height: auto;
  padding: auto;
}
.body1 {
  height: 100vh;
  width: 100%;
}
</style>
