<template>
  <v-container class="dashboard_body">
    <v-layout>
      <v-content class="container">
        <router-view />
      </v-content>
      <v-navigation-drawer
        persistent
        app
        :mini-variant.sync="mini"
        class="fill-height"
        dark
        floating
        mobile-break-point="991"
        enable-resize-watcher
      >
        <v-toolbar flat class="align-content-end">
          <v-list>
            <v-list-tile @click.stop="mini = !mini">
              <v-list-tile-avatar>
                <img alt="ScitecPharma" src="../../assets/logo.jpg" />
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title class="title">
                  ScitecPharma
                </v-list-tile-title>
                <v-list-tile-sub-title>
                  Panel de administración
                </v-list-tile-sub-title>
              </v-list-tile-content>

            </v-list-tile>
          </v-list>
        </v-toolbar>

        <v-divider></v-divider>
        <v-list class="pt-0" dense>
          <v-list-tile
            active-class="accent"
            v-for="section in sections"
            :key="section.title"
            :to="section.link"
          >
            <v-list-tile-action>
              <v-icon>{{ section.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{ section.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Dashboard",
  data() {
    return {
      sections: [],
      mini: true,
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.sections = [
        { title: "Productos", icon: "list_alt", link: "/admin/products" },
        { title: "Categorías", icon: "category", link: "/admin/categories" },
        {
          title: "Vías de administración",
          icon: "colorize",
          link: "/admin/vias"
        },
        { title: "Países", icon: "public", link: "/admin/countries" }
      ];
    }
  },
  mounted() {
    this.$router.push({name: 'products'});
  }
};
</script>

<style scoped>
.dashboard_body {
  height: 100%;
  max-width: 100vw;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
</style>
